# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local

# Oauth
*oauth.json

# temp files
~*

# SAM2
sam2

# Python
__pycache__/
*.pyc
*.ipynb_checkpoints
*.ipynb
python_classification_handling/*.json
# Exception: Track test classification notebook and test classification file
!python_classification_handling/test_read_classification.ipynb
!python_classification_handling/test_classification.json

# typescript
*.tsbuildinfo
